buy-product {
  border: 3px solid rgb(209, 169, 36);
  box-shadow: 0 10px 15px rgb(172, 144, 69);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(117, 82, 5);
}

buy-product img {
  width: 20%;
  max-width: 100px;
  min-width: 40px;
}

buy-product strong {
  display: block;
  flex: 1;
  margin-left: 2rem;
  font-size: 2.5rem;
}

buy-product button {
  display: block;
  background-color: rgb(209, 169, 36);
  color: white;
  text-align: center;
  line-height: 2;
  border: 0;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0 2rem;
  margin: 1.5rem;
}

buy-product div {
  padding: 0 2rem;
  margin: 1.5rem;
  font-size: 2rem;
  line-height: 2;
}

buy-cart {
  display: flex;
}

buy-cart ol {
  padding: 0 0.5rem;
  margin: 1.5rem 0;
  display: flex;
  list-style-type: none;
  border: 3px solid rgb(209, 169, 36);
  box-shadow: 0 5px 10px rgb(172, 144, 69);
  background-color: white;
  color: rgb(129, 123, 30);
  border-radius: 1rem;
  min-width: 150px;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

buy-cart ol:empty::after {
  content: "Warenkorb";
}


buy-cart li {
  display: block;
  position: relative;
  cursor: pointer;
}

buy-cart li::after {
  content: "×";
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: -0.5rem;
  right: -0.5rem;
  background-color: rgb(209, 169, 36);
  border-radius: 50%;
  transition: opacity 0.15s ease-out;
  z-index: 1;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

buy-cart li:hover::after {
  opacity: .75;
}

buy-cart img {
  display: block;
  height: 45px;
  position: relative;
  pointer-events: none;
}
