* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

article {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

header {
  background-color: rgb(4, 5, 46);
  color: rgb(204, 223, 252);
  font-size: 2rem;
  padding: 0.25rem 5rem;
  margin: 0 0 2rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-height: 60px;
}

header strong {
  align-self: center;
}

h1 span,
p span {
  background-color: rgb(135, 129, 161);
  color: transparent;
}

p {
  margin: 4rem 0;
}